.u-section-1 .u-sheet-1 {
  min-height: 522px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px 712px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1163px;
  margin: 28px -23px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 152px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 33px auto 0 21px;
}

.u-section-1 .u-text-2 {
  margin: -80px auto 0 112px;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -12px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 80px;
  margin: -29px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -55px -28px 0 152px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 29px 11px 0 auto;
  padding: 0 15px 1px 14px;
}

.u-section-1 .u-shape-1 {
  width: 21px;
  height: 21px;
  margin: -36px auto 0 51px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 33px auto 0 21px;
}

.u-section-1 .u-text-5 {
  margin: -80px auto 0 112px;
}

.u-section-1 .u-icon-5 {
  width: 32px;
  height: 32px;
  margin: -12px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  width: 80px;
  margin: -29px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -55px -28px 0 152px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 29px 11px 0 auto;
  padding: 0 15px 1px 14px;
}

.u-section-1 .u-shape-2 {
  width: 21px;
  height: 21px;
  margin: -36px auto 0 51px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-7 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 33px auto 0 21px;
}

.u-section-1 .u-text-8 {
  margin: -80px auto 0 112px;
}

.u-section-1 .u-icon-8 {
  width: 32px;
  height: 32px;
  margin: -12px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  width: 80px;
  margin: -29px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: -55px -28px 0 152px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 29px 11px 0 auto;
  padding: 0 15px 1px 14px;
}

.u-section-1 .u-shape-3 {
  width: 21px;
  height: 21px;
  margin: -36px auto 0 51px;
}

.u-section-1 .u-list-2 {
  width: 1163px;
  margin: 10px -23px 60px auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 160px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px 0;
}

.u-section-1 .u-text-11 {
  margin: 6px auto 0 116px;
}

.u-section-1 .u-icon-10 {
  width: 32px;
  height: 32px;
  margin: -7px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: -53px -26px 0 150px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  width: 80px;
  margin: -2px auto 0;
}

.u-section-1 .u-icon-12 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: -86px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 21px;
  height: 21px;
  margin: -10px auto 0 53px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 5px 10px 0 auto;
  padding: 0 15px 1px 14px;
}

.u-section-1 .u-container-layout-5 {
  padding: 13px 0;
}

.u-section-1 .u-text-14 {
  margin: 6px auto 0 116px;
}

.u-section-1 .u-icon-13 {
  width: 32px;
  height: 32px;
  margin: -7px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: -53px -26px 0 150px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  width: 80px;
  margin: -2px auto 0;
}

.u-section-1 .u-icon-15 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: -86px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-shape-5 {
  width: 21px;
  height: 21px;
  margin: -10px auto 0 53px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 5px 10px 0 auto;
  padding: 0 15px 1px 14px;
}

.u-section-1 .u-container-layout-6 {
  padding: 13px 0;
}

.u-section-1 .u-text-17 {
  margin: 6px auto 0 116px;
}

.u-section-1 .u-icon-16 {
  width: 32px;
  height: 32px;
  margin: -7px auto 0 112px;
  padding: 0;
}

.u-section-1 .u-icon-17 {
  width: 26px;
  height: 26px;
  margin: -2px auto 0 115px;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: -53px -26px 0 150px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  width: 80px;
  margin: -2px auto 0;
}

.u-section-1 .u-icon-18 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: -86px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-shape-6 {
  width: 21px;
  height: 21px;
  margin: -10px auto 0 53px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 5px 10px 0 auto;
  padding: 0 15px 1px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 512px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    height: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-icon-12 {
    color: rgb(255, 255, 255) !important;
    margin-top: -88px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 2px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-15 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-18 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 292px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 112px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 72px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 72px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 72px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 73px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 73px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 73px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 72px;
  }
}