 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 815px 0 34px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -90px auto 0 284px;
}

.u-section-1 .u-icon-2 {
  width: 106px;
  height: 71px;
  margin: 26px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 433px;
  margin: -186px 130px 0 440px;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-icon-3 {
  width: 56px;
  height: 56px;
  margin: -188px auto 0 34px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 97px;
  height: 28px;
  margin: -99px auto 60px 34px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 552px;
    margin-top: 98px;
    margin-right: 649px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -89px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 25px;
    margin-left: 517px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: -195px;
    margin-right: 30px;
    margin-left: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -281px;
    margin-left: 438px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 429px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 384px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 150px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 323px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 249px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 164px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 274px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 229px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 49px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 153px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 81px;
  }
}